torch~=1.12.0.dev20220316+cu113
wandb==0.12.7
transformers==4.13.0
datasets==1.16.1
deepspeed==0.5.8
catalyst==22.2
torchtyping==0.1.4
black==22.1.0
isort
flake8
typeguard~=2.13.3
nlpaug~=1.1.10
numpy~=1.22.2
pandas~=1.4.1
matplotlib~=3.5.1
tqdm~=4.63.0
PyYAML~=6.0